<!DOCTYPE HTML>
<html  lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" media="screen" rel="stylesheet"/>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="jumbotron">
    <h1 class="display-4">Admin</h1>
    <p class="lead">Admin can add users</p>
    <hr class="my-4"/>
    <a href="/signup"  type="button" class="btn btn-primary btn-lg">Add a new user</a>

    <p>Тут ниже кнопка, для выхода админа.</p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-primary btn-lg" role="button" value="Sign Out"/>
    </form>
</div>
<!-- /.container -->
<div>
    <div th:switch="${users}">
        <h2 th:case="null">No users yet!</h2>
        <div th:case="*">

            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">ФИО</th>
                    <th scope="col">Логин</th>
                    <th scope="col">Пароль</th>
                    <th scope="col">Телефон</th>
                    <!-- <th scope="col">Роль</th> -->
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.login}"></td>
                    <td th:text="${user.pwd}"></td>
                    <td th:text="${user.phone}"></td>
                    <!-- <td th:text="${user.role.role_name}"></td> -->
                    <td><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></td>
                    <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>


</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
